albert/.config/albert/core.db
albert/.config/albert/last_used_version
albert/.config/albert/*/*.db
albert/.config/albert/org.albert.extension.websearch/*.
sublime/.config/sublime-text-3/Backup
sublime/.config/sublime-text-3/Cache/
sublime/.config/sublime-text-3/Index/
sublime/.config/sublime-text-3/Local/
sublime/.config/sublime-text-3/Packages/ Control.*
sublime/.config/sublime-text-3/*.tmTheme
sublime/.config/sublime-text-3/*/*.tmTheme
!*.sublime-settings